<div>
    <a class="btn btn-sm btn btn-primary" id="btn-file-upload" href="#">Выбрать файл</a>
    <a class="btn btn-sm btn btn-primary disabled" id="btn-sync" href="#">Синхронизировать</a><br />
    <span id="file-path"></span>
    <input type="file" id="file-upload" style="display: none" accept="application/json" />
    <span id="loading" style="display: none;">Синхронизация...</span>
    <div id="import-result"></div>
</div>